<h1>上傳成功，您明天以後可以查詢</h1>
<style>
    @media screen and (max-width: 991px) {
        html{
            font-size: 200%; /*手機版全網頁放大兩倍*/
        }
        input[type="text"]{
            font-size: 100%; /*手機版輸入框字體放大*/
            width: 100%; /*手機版輸入框長度切齊螢幕*/
        }
        input[type="text"]::placeholder {
        font-size: 65%; /*手機版輸入框提示文字稍微放大*/
        }
        button.btn.btn-primary{
            font-size: 100%; /*手機版上傳按鈕放大*/
            float: right; /*手機版上傳按鈕靠右切齊螢幕*/
        }
    }
</style>